<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <b>TestGuru Admin Panel</b>
  </span>

  <span class="navbar-text">
     Welcome, <b><%= current_user.name %></b> Guru |
     <%= link_to 'Manage Tests', admin_tests_path %> |
     <%= link_to 'Manage Gists', admin_gists_path %></b> |
     <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </span>
</nav>
