<h1>
  <%= t('.header', title: @test_passage.test.title) %>
  <% if @test_passage.timer? %>
    <%= content_tag :div, '', class: 'timer',
                     data: { timer:  @test_passage.time_left } %>
  <% end %>

  <div class="progress" style="height: 40px">
    <%= content_tag :div, class: 'progress-bar bg-success',
                     role: 'progressbar',
                     data: { total_questions: @test_passage.number_of_questions,
                     question_number: @test_passage.current_question_number } do %>
    <% end %>
  </div>
</h1>
<h2>
  <%=  t('.question', number: @test_passage.current_question_number,
                      numbers: @test_passage.number_of_questions) %>
</h2>

<div class="card border-primary">
  <div class="card-body">
    <b>
      <%= @test_passage.current_question.body %>
    </b>
</div>
</div>

<%= form_with url: test_passage_path(@test_passage), local: true, id: :check, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <div class="form-check">
      <%= b.check_box id: "answer_ids#{b.object.id}", class: 'form-check-input' %>
      <%= b.label class: 'form-check-label' %>
    </div>
  <% end %>

  <p><%= link_to 'save_gist', gist_test_passage_path(@test_passage), method: :post %></p>

  <p><%= form.submit t('.next'), class: 'btn btn-primary' %></p>
<% end %>
