<h1 class="text text-center"><%= t('.header')%></h1>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <%= render @tests %>
</table>
